<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
   <div class="dashboard-container" id="appointment-app">
    <div class="container">
      <div class="tableBar">
        <el-input
          v-model="inputName"
          placeholder="请输入姓名"
          style="width: 250px"
          clearable
          @keyup.enter.native="handleQuery"
        >
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            @click="init"
          ></i>
        </el-input>

        <el-date-picker v-model="appointmentTime"
           clearable
           value-format="yyyy-MM-dd HH:mm:ss"
           type="datetimerange"
           placeholder="选择日期"
           range-separator="至"
           start-placeholder="开始日期"
           end-placeholder="结束日期"
           :default-time="['00:00:00', '23:59:59']"
           style="width: 400px;margin-left: 20px;"
        ></el-date-picker>

        <div class="tableLab">
          <span class="span-btn delBut non" @click="deleteHandle('批量')">批量删除</span>
          <el-button
            type="primary"
            @click="optHandle('add')"
          >
            + 添加预约
          </el-button>
        </div>
      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
        @selection-change="handleSelectionChange"
      >
        <el-table-column
          type="selection"
          width="25"
        ></el-table-column>
        <el-table-column
          prop="patientName"
          label="患者姓名"
        ></el-table-column>

        <el-table-column
           prop="doctorName"
           label="医生姓名"
        ></el-table-column>

        <el-table-column
           prop="hospitalName"
           label="医院"
        ></el-table-column>

        <el-table-column
          prop="createTime"
          label="开始时间"
        >
        </el-table-column>

        <el-table-column
           prop="appointTime"
           label="预约时间"
        >
        </el-table-column>

        <el-table-column
          prop="endTime"
          label="完成时间"
        >
        </el-table-column>

        <el-table-column label="预约完成状态">
          <template slot-scope="scope">
            <span v-if="scope.row.status == '1'"><i class="el-icon-circle-check"> 已完成</i></span>
            <span v-else><i class="el-icon-minus"> 待完成</i></span>
          </template>
        </el-table-column>

        <el-table-column
          label="操作"
          width="160"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="success"
              size="small"
              @click="optHandle('edit',scope.row)"
              circle
              icon="el-icon-edit"
            >

            </el-button>

            <el-button
              type="danger"
              size="small"
              @click="deleteHandle('单删', scope.row.id)"
              circle
              icon="el-icon-delete"
            >

            </el-button>
          </template>
        </el-table-column>

      </el-table>

      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        @size-change="handleSizeChange"
        :current-page.sync="page"
        @current-change="handleCurrentChange"
      ></el-pagination>

      <!--    编辑、新增预约信息页面-->
      <el-dialog
         :title="opTitle"
         :visible.sync="dialogVisible"
         :before-close="closeHandle"
         width="30%"
         :modal="false"
      >
        <el-form
                :inline="false"
                label-width="180px"
                class="demo-ruleForm"
        >
          <el-form-item prop="patientName" label="患者姓名">
            <el-input v-model="appointmentForm.patientName" placeholder="请输入姓名" maxlength="30"/>
          </el-form-item>

          <el-form-item prop="doctorName" label="医生姓名">
            <el-input v-model="appointmentForm.doctorName" placeholder="请输入姓名" maxlength="10"/>
          </el-form-item>

          <el-form-item prop="createTime" label="开始时间">
            <el-date-picker
              v-model="appointmentForm.createTime"
              align="right"
              type="datetime"
              placeholder="选择日期"
              :picker-options="pickerOptions"
              value-format="yyyy-MM-dd HH:mm:ss">
            </el-date-picker>
          </el-form-item>

          <el-form-item prop="appointTime" label="预约时间">
            <el-date-picker
              v-model="appointmentForm.appointTime"
              align="right"
              type="datetime"
              placeholder="选择日期"
              :picker-options="pickerOptions"
              value-format="yyyy-MM-dd HH:mm:ss">
            </el-date-picker>
          </el-form-item>

          <el-form-item prop="endTime" label="结束时间">
            <el-date-picker
               v-model="appointmentForm.endTime"
               align="right"
               type="datetime"
               placeholder="选择日期"
               :picker-options="pickerOptions"
               value-format="yyyy-MM-dd HH:mm:ss">
            </el-date-picker>
          </el-form-item>

          <el-form-item prop="status" label="完成状态">
            <el-radio-group v-model="appointmentForm.status">
              <el-radio :label="1">已完成</el-radio>
              <el-radio :label="0">待完成</el-radio>
            </el-radio-group>
          </el-form-item>

          <div class="subBox address">
            <el-form-item>
              <el-button  @click="closeHandle">
                取消
              </el-button>
              <el-button
                 type="primary"
                 @click="submitForm(appointmentForm)"
              >
                保存
              </el-button>
            </el-form-item>
          </div>
        </el-form>
      </el-dialog>

    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/appointment.js"></script>
    <script src="../../api/hospital.js"></script>

    <script>

      new Vue({
        el: '#appointment-app',
        data() {
          return {
            id:[],
            inputName:'',
            appointmentTime:'',
            beginTime:'',
            endTime:'',
            counts: 0,
            page: 1,
            pageSize: 10,
            tableData : [],
            hospitals:[],
            checkList: [],
            opTitle:'',
            statusButtonType:'danger',
            dialogVisible: false,
            appointmentForm: {
              id: 0,
              patientName: '张三',
              doctorName: "华佗",
              createTime: "2023-04-04 00:00:00",
              appointTime:"2023-04-24 15:00:00",
              endTime: "2023-04-24 16:00:00",
              status: true
            },
            pickerOptions: {
              disabledDate(time) {
                return time.getTime() > Date.now();
              },
              shortcuts: [{
                text: '今天',
                onClick(picker) {
                  picker.$emit('pick', new Date());
                }
              }, {
                text: '昨天',
                onClick(picker) {
                  const date = new Date();
                  date.setTime(date.getTime() - 3600 * 1000 * 24);
                  picker.$emit('pick', date);
                }
              }, {
                text: '一周前',
                onClick(picker) {
                  const date = new Date();
                  date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                  picker.$emit('pick', date);
                }
              }]
            },
          }
        },

        created() {
          this.init()
        },
        watch:{
          appointmentTime (val) {
            if (val && val.length >= 2) {
              this.beginTime = val[0]
              this.endTime = val[1]
            } else {
              this.beginTime = ''
              this.endTime = ''
            }
          },
          'appointmentForm.status'(){
            if(this.appointmentForm.status === 0){
              this.appointmentForm.endTime = '';
            }
          }
        },
        methods: {
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.inputName ? this.inputName : undefined,
              beginTime: this.beginTime? Date.parse(this.beginTime) :undefined,
              endTime: this.endTime? Date.parse(this.endTime):undefined,
            }
            await getAppointmentPage(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total

              }
            }).catch(err => {
              this.$message.error(err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
          // 添加
          optHandle (st,row) {
            this.dialogVisible = true

            if(st === 'add'){
              this.opTitle = '新增预约'

            }else{
              this.opTitle = '编辑预约'
              getAppointmentById({'id':row.id}).then(res => {
                  if(res.code === 1){
                    this.appointmentForm = res.data
                  }else{
                    this.$message.success(res.msg)
                  }
              })
              getHospitalById({'id':row.hid}).then(res => {
                if(res.code === 1){
                  let hospitalName = res.data.id + '|' + res.data.name
                  this.appointmentForm.hid = hospitalName
                }else{
                  this.$message.success(res.msg)
                }
              }).catch(err => {
                this.$message.error(err)
              })
            }
          },
          //关闭新增、修改对话框
          closeHandle(){
            this.dialogVisible = false
          },
          // 删除
          deleteHandle (type, id) {
            if (type === '批量' && id === undefined) {
              if (this.checkList.length === 0) {
                return this.$message.error('请选择删除对象')
              }
            }
            this.$confirm('确定删除该预约, 是否继续?', '确定删除', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
              deleteAppointment(type === '批量' ? this.checkList.join(',') : id).then(res => {
                if (res.code === 1) {
                  this.$message.success('删除成功！')
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg)
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          //提交表单
          submitForm(appointmentForm){
            if(this.opTitle === "新增预约"){
              addAppointment(appointmentForm).then(res => {
                if(res.code === 1){
                  this.$message.success("预约添加成功！")
                  this.init()
                  this.dialogVisible = false;
                }else{
                  this.$message.error(res.msg)
                }
              }).catch(err => {
                console.log("opTitle:",this.opTitle)
                this.$message.error(err)
              })
            }else{
              editAppointment(appointmentForm).then(res => {
                if(res.code === 1){
                  this.$message.success("预约信息修改成功！")
                  this.init()
                  this.dialogVisible = false;
                }else{
                  this.$message.error(res.msg)
                }
              }).catch(err => {
                this.$message.error(err)
              })
            }
          },
          // 全部操作
          handleSelectionChange (val){
            let checkArr = []
            val.forEach((n) => {
              checkArr.push(n.id)
            })
            this.checkList = checkArr
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          }
        }
      })
    </script>
</body>
</html>
